@font-face { 
	font-family: 'Open Sans'; 
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),  
		 url('../fonts/OpenSans-Regular.woff') format('woff')
}


/* Let's GO!
----------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
html {
	height: 100%;
	min-height: 100%;
	font-size: 100%
}
body {
	height: 100%;
	min-height: 100%;
	font: 1rem 'Open Sans', sans-serif;
	grid-template-rows: 100px auto 150px
}
header {
	background: #e3f2fd
}
main > .some-class {
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	grid-template-rows: repeat(3, minmax(100px, 1fr));
	grid-gap: 10px
}
.some-class > div {
	background: #f5f5f5
}
footer {
	background: #dcedc8
}
